apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo-rollouts

resources:
  # Official Argo Rollouts installation manifest - pinned to v1.8.3
  - https://github.com/argoproj/argo-rollouts/releases/download/v1.8.3/install.yaml
