apiVersion: v1
kind: Service
metadata:
  name: blutag-findmy
  labels:
    app: blutag-findmy
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: blutag-findmy
