apiVersion: v1
kind: Service
metadata:
  name: ids-postgres
  labels:
    app: ids-postgres
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: ids-postgres

