apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml
  - backend-rbac.yaml
  - mariadb-secret.yaml

generators:
  - secrets-generator.yaml
